<html style="height: 100%;"><head><meta name="viewport" content="width=device-width, minimum-scale=0.1"><title>ban1.jpeg (960×958)</title></head><body style="background: url(&quot;http://localhost:4000/assets/images/banners/ban2.jpeg&quot;) !important;/* margin: 0px; *//* background: #0e0e0e; *//* height: 100%; */"><div style="
    background: url(http://localhost:4000/assets/images/banners/ban1.jpeg) top left;
    height: 414px;
    width: 100%;
    background-size: 127%;
    background-position: -133px -474px;
"></div>
</body></html>